/* styles.css */
:root {
  --background-color: #3673bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sub-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 1.5rem;
  align-self: center;
  margin: 0 auto;
}

.sidebar {
  width: 260px;
  height: max-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}

.sidebar nav ul li {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: white;
  color: #000000;
  border-bottom: 1px solid #ecf0f1;
}

.sidebar nav li a:active {
  background-color: #3498db;
  color: white;
}

.sidebar nav ul li a {
  color: inherit;
  text-decoration: none;
}

.sidebar nav ul li:hover {
  background-color: var(--background-color);
  color: white;
}

.main-content {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.profile-info h2 {
  margin: 0;
}

.profile-info p {
  margin: 5px 0;
  color: #7f8c8d;
}

.section {
  margin-top: 40px;
}

.section > .inner-section {
  display: flex;
  justify-content: space-between;
}

.section > h3 {
  margin-bottom: 20px;
  padding: 1rem;
  background-color: var(--background-color);
  color: #ffffff;
  font-size: 1rem;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  flex: 1;
}

.info-item {
  width: 50%;
  margin-bottom: 20px;
}

.info-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.info-item p {
  margin: 0;
  color: #2c3e50;
  font-size: 0.9rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  display: inline-flex;
  line-height: 25px;
  border-radius: 0.5rem;
  background: none;
  cursor: pointer;
}

.btn-edit::before {
  content: "✏️";
  font-size: 0.9em;
  cursor: pointer;
}

@media screen and (max-width: 468px) {
  .main-content {
    margin: 1rem 0 1rem 0;
  }
  .sub-container {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
}
