*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
main .main-content{
    width: 68%;
}

main .home-banner{
    background-color: #D9E8F9;
    padding: 12px 52px;
    display: flex;
    justify-content: space-between;
    height: 36vh;
    width: 100%;
    border-radius: var(--border-radius);
    align-items: center;
}



.home-banner .banner-image{
    height: 100%;
}

.home-banner .banner-image img{
    height: 100%;
}


/* -----------side bar----------- */
main .sidebar{  
    width: 28%;   
}


.sidebar .side-banner{
    background: linear-gradient(to bottom right, #80B1EC 6%, #4E87CC 100%, #3673BD 100%);
    border-radius: var(--border-radius);
    padding: 12px;
    color: #fff;  
    display: flex;
    justify-content: space-between;
    height: 26vh; 
}
.sidebar .side-banner .side-banner-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.sidebar .side-banner .side-banner-image img{
    height: 100%;
}

/* --------daily deals------ */
.sidebar .daily-deals{
    margin: 40px 0 0 0;
}


.sidebar .daily-deals .deals-items{
    display: flex;
    justify-content: space-between;
}


.sidebar .daily-deals .deals-items h3{
    color: var(--text-color);
    margin: 0 0 24px 0;
}



@media screen and (max-width:768px) {
    main .main-content{
        width: 100%;
        
    }
    main .home-banner{
        height: 20vh;
        background-image: url('../assets/banner-image.png');
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
    main .main-content .banner-image{
        display: none;
    }
    main .sidebar{  
        display: none;
        
    }
}