/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.section {
  margin: 0;
}

.main-content {
  width: 100%;
}

.form-header {
  text-align: start;
  background-color: #2980b9;
  padding: 0.8rem;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

form {
  width: 100%;
}

.form-group {
  width: 100% !important;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.btn {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  background-color: #2980b9;
}

.btn:hover {
  background-color: #3498db;
}
